<app-page>
  <ng-container content>
    <div class="bg-slate-50">
      <div class="container mx-auto p-16">
        <div>
          <p class="text-gray-500/90">
            <a routerLink="">الرئيسية</a>
            <span class="px-2">
              <i class="fa-solid fa-chevron-left fa-sm"></i>
            </span>
            شروط الأستخدام
          </p>
        </div>

        <div class="w-full md:w-3/4 lg:w-2/3 mt-5 relative">
          <h1 class="text-2xl font-bold">شروط الأستخدام</h1>
          <p class="pt-4 leading-7 text-gray-500/90">
            هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي
            القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في
            الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي
            توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى
            نصي، هنا يوجد محتوى نصي" فتجعلها تبدو (أي الأحرف) وكأنها نص مقروء.
            العديد من برامح النشر المكتبي وبرامح تحرير صفحات الويب تستخدم لوريم
            إيبسوم بشكل إفتراضي كنموذج عن النص، وإذا قمت بإدخال "lorem ipsum" في
            أي محرك بحث ستظهر العديد من المواقع الحديثة العهد في نتائج البحث.
            على مدى السنين ظهرت نسخ جديدة ومختلفة من نص لوريم إيبسوم، أحياناً عن
            طريق الصدفة، وأحياناً عن عمد كإدخال بعض العبارات الفكاهية إليها.
          </p>
          <p
            class="pt-4 pr-6 text-gray-500/90 before:absolute before:block before:w-2 before:h-2 before:bg-[rgba(30,170,173,1)] before:rounded-sm before:translate-y-2 before:translate-x-2"
          >
            . هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما
            سيلهي القارئ عن التركيز
          </p>
          <p
            class="pt-2 pr-6 text-gray-500/90 before:absolute before:block before:w-2 before:h-2 before:bg-[rgba(30,170,173,1)] before:rounded-sm before:translate-y-2 before:translate-x-2"
          >
            . هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما
            سيلهي القارئ عن التركيز
          </p>
          <p
            class="pt-2 pr-6 text-gray-500/90 before:absolute before:block before:w-2 before:h-2 before:bg-[rgba(30,170,173,1)] before:rounded-sm before:translate-y-2 before:translate-x-2"
          >
            . هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما
            سيلهي القارئ عن التركيز
          </p>
        </div>
      </div>
    </div>
  </ng-container>
</app-page>
