<div class="flex flex-col gap-2 text-gray-600 pb-20">
  <div class="p-4 bg-white">
    <h1
      class="font-bold pb-6 before:absolute before:block before:w-6 before:h-1 before:bg-teal-500 before:rounded-sm before:translate-y-6"
    >
      معلوماتك الشخصية
    </h1>
    <div class="font-semibold">
      <p *ngFor="let info of personalInfo" class="pb-3">
        <span class="font-bold pl-2">{{ info.label }}</span>
        {{ info.value }}
      </p>
    </div>
  </div>

  <div class="p-4 bg-white">
    <h1
      class="font-bold pb-6 before:absolute before:block before:w-6 before:h-1 before:bg-teal-500 before:rounded-sm before:translate-y-6"
    >
      نبذة عني
    </h1>
    <div>
      <p
        *ngFor="let description of descriptions"
        class="pb-3 pl-10 leading-7 text-gray-400"
      >
        {{ description }}
      </p>
    </div>
  </div>

  <div class="p-4 bg-white">
    <h1
      class="font-bold pb-6 before:absolute before:block before:w-6 before:h-1 before:bg-teal-500 before:rounded-sm before:translate-y-6"
    >
      مجالات الإختصاص
    </h1>
    <div class="flex flex-wrap">
      <p
        *ngFor="let specialty of specialties"
        class="flex w-fit font-semibold text-teal-500 border-2 border-teal-500 rounded-xl mt-3 mx-1 px-3 py-2 hover:bg-teal-500 hover:text-white transition-all"
      >
        {{ specialty.text }}
      </p>
    </div>
  </div>

  <div class="p-4 bg-white">
    <h1
      class="font-bold pb-6 before:absolute before:block before:w-6 before:h-1 before:bg-teal-500 before:rounded-sm before:translate-y-6"
    >
      الشهادات والدورات
    </h1>
    <div
      *ngFor="let certificate of certificates"
      class="flex justify-between items-center pb-3"
    >
      <p>{{ certificate.name }}</p>
      <div class="flex gap-2">
        <span
          *ngFor="let i of [].constructor(certificate.rating)"
          class="block w-5 h-5 bg-teal-500 rounded-sm"
        ></span>
        <span
          *ngFor="let i of [].constructor(5 - certificate.rating)"
          class="block w-5 h-5 bg-gray-400/50 rounded-sm"
        ></span>
      </div>
    </div>
  </div>

  <div class="p-4 bg-white">
    <h1
      class="font-bold pb-6 before:absolute before:block before:w-6 before:h-1 before:bg-teal-500 before:rounded-sm before:translate-y-6"
    >
      اللغات
    </h1>
    <div
      *ngFor="let language of languages"
      class="flex justify-between items-center pb-3"
    >
      <p>{{ language.name }}</p>
      <div class="flex gap-2">
        <span
          *ngFor="let i of [].constructor(language.rating)"
          class="block w-5 h-5 bg-teal-500 rounded-sm"
        ></span>
        <span
          *ngFor="let i of [].constructor(5 - language.rating)"
          class="block w-5 h-5 bg-gray-400/50 rounded-sm"
        ></span>
      </div>
    </div>
  </div>

  <div class="flex flex-col md:flex-row gap-2">
    <div class="w-full md:w-3/6 bg-white p-4">
      <h1
        class="font-bold pb-6 before:absolute before:block before:w-6 before:h-1 before:bg-teal-500 before:rounded-sm before:translate-y-6"
      >
        توثيقات
      </h1>
      <div class="flex flex-wrap gap-x-24 gap-y-2">
        <p *ngFor="let document of documents">
          <i class="fa-solid fa-circle-check text-green-500"></i>
          {{ document.text }}
        </p>
      </div>
    </div>

    <div class="w-full md:w-3/6 bg-white p-4">
      <h1
        class="font-bold pb-6 before:absolute before:block before:w-6 before:h-1 before:bg-teal-500 before:rounded-sm before:translate-y-6"
      >
        أوسمة
      </h1>
      <div class="flex gap-8">
        <div
          *ngFor="let badge of badges"
          class="flex flex-col items-center gap-2"
        >
          <p><i class="fa-solid fa-tag fa-xl"></i></p>
          {{ badge.text }}
        </div>
      </div>
    </div>
  </div>

  <div class="p-4 bg-white">
    <h1
      class="font-bold pb-6 before:absolute before:block before:w-6 before:h-1 before:bg-teal-500 before:rounded-sm before:translate-y-6"
    >
      مواقع شغلي الأخرى
    </h1>
    <div class="flex gap-3">
      <img
        *ngFor="let workSite of workSites"
        class="w-14 h-14 object-cover rounded-md"
        [src]="workSite.src"
        [alt]="workSite.alt"
      />
    </div>
  </div>
</div>
