<app-page>
  <ng-container content>
    <section class="container py-5 px-md-5">
    <div class="head ">
<a href="#" class=" text-decoration-none">الرئيسية</a>
<i class="fa-solid fa-angle-left px-2"></i>
<a href="#" class="text-decoration-none">الأسئلة الشائعة</a>
</div>
<h5 class="fs-5 py-3 fw-bold">الأسئلة الشائعة</h5>
<div  *ngFor="let item of questions; let i = index;let last = last">
  <details [open]="i === 0" class="py-2">
    <summary class="pb-2">
      <div class="d-flex justify-content-between align-items-center fw-bold">
        {{ item.question }}
        <div class="d-flex align-items-center">   
             <i class="fas fa-plus"></i>
      <i class="fas fa-minus"></i>
      </div>
    </div>
    </summary>
    <p class="text-muted text-opacity-5 col-md-6 py-2">{{ item.answer }}</p>
  </details>
  <div class="linee" *ngIf="!last"></div>
</div>
</section>
</ng-container> 
 </app-page>  
