// #1 / info section styles
::ng-deep .iti {
  width: 100%;
}
::ng-deep .iti__search-input {
  outline: none;
}

// #4 / location section styles
.section-4 {
  ::ng-deep .ng-dropdown-panel {
    background-color: #fff;
    border: 1px solid #e2e8f0;
  }
  ::ng-deep .ng-option {
    color: #6b7280;
    padding: 0.5rem;
    border-bottom: 1px solid #e2e8f0;
    &.ng-option-marked {
      color: gray;
    }
    &:hover {
      background-color: #14b8a6;
      color: #fff;
    }
  }
}

// #5 / specialist-fileds section styles
.section-5 {
  ::ng-deep .ng-dropdown-panel {
    border: 1px solid #e2e8f0;
  }
  ::ng-deep .ng-option {
    color: #6b7280;
    background-color: #fff;
    padding: 0.5rem;
    border-bottom: 1px solid #e2e8f0;
    &:hover,
    &.ng-option-marked {
      background-color: #14b8a6;
      color: #fff;
    }
  }
  ::ng-deep
    .ng-select.ng-select-multiple
    .ng-select-container
    .ng-value-container
    .ng-value {
    background-color: transparent;
    color: #6b7280;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.2rem 0.5rem 0.5rem 0.5rem;
    border: 2px solid #6b7280;
    border-radius: 1rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
  ::ng-deep
    .ng-select.ng-select-multiple
    .ng-select-container
    .ng-value-container
    .ng-value
    .ng-value-icon.left {
    border: none;
    font-weight: 600;
    font-size: 1.5rem;
  }
}
// public styles
::ng-deep .ng-select.ng-select-single .ng-select-container {
  border: none;
  &:hover {
    box-shadow: none;
  }
}
::ng-deep
  .ng-select.ng-select-focused:not(.ng-select-opened)
  > .ng-select-container {
  box-shadow: none;
}
::ng-deep .ng-select .ng-select-container {
  border: none;
  &:hover {
    box-shadow: none;
  }
}

::ng-deep {
  [dir=rtl] .iti--allow-dropdown .iti__flag-container,
  [dir=rtl] .iti--show-selected-dial-code .iti__flag-container {
    right: auto;
    left: 0;
  }

  .iti__country .iti__country-name {
    flex: 1;
  }
}
